/* setup container styles */

@media (min-width: 600px) and (max-width: 2000px){
	.bubble-container {
		height: 490px !important;
		width: 100%;
		margin: 0 auto;
		overflow: hidden;
	}
	#chatbot{
		position: absolute; 
		bottom: 20px; 
		right: 20px; 
		background-color: #3e3e3e;
		transition: all 0.2s;
		width: 400px;
	}

	.bubble-wrap {
		height: 450px !important;
		background : #f6f6f6;  
		padding: 10px; 
		overflow-y: auto;
		padding-top: 20px;
	}
	
}
@media (min-width: 0) and (max-width: 600px){
	.bubble-container {
		height: 100% !important;
		width: 100%;
		margin: 0 auto;
		overflow: hidden;
	}
	#chatbot{
		position: absolute; 
		background-color: #3e3e3e;
		transition: all 0.2s;
		width: 90vw;
		height: 90vh;
		margin: 15px;
	}

	.bubble-wrap {
		height: 84% !important;
		background : #f6f6f6;  
		padding: 10px; 
		overflow-y: auto;
		padding-top: 20px;
	}
	
}

/* optional page styles */
h1 {
	text-align: center;
	font-weight: 300;
	font-size: 4em;
	margin: .5em auto 0.15em;
}
body {
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	margin: 0;
}



#logoChat{
	position: absolute;
	left: 40%;
	top: 10px;
	border-radius: 50%;
}

.bubble-button > a{
	text-decoration: none !important;
	color: white !important;
}